@model MyFirstWebsite.Models.LoginModel
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>
@Html.ValidationSummary(true)
@using (Html.BeginForm())
{
    @Html.EditorForModel()
    <p>
        <button type="submit">Login</button>
    </p>
    <h1>@Model.Email</h1>
    <h1>@Model.Password</h1>
}
